{% extends 'studio/base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{%block content %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <h2 class="text-center">DashBoard</h2>

    <div class="row">
        <div class="col-md-3 col-sm-12 mt-3">
            <div class="card">
                <div class="card-header text-center">
                    <a href="{% url 'viewMembers' %}">Total Members</a>
                </div>
                <div class="card-body text-center">
                    {{members}}
                </div>
                
            </div>
        </div>

        <div class="col-md-3 col-sm-12 mt-3">
            <div class="card">
                <div class="card-header text-center">
                    <a href="{% url 'viewCheckedInAndOut' %}">Total Checkin</a>
                </div>
                <div class="card-body text-center">
                {{checkin}}
                </div>
              
            </div>
        </div>
        <div class="col-md-3 col-sm-12 mt-3">
            <div class="card">
                <div class="card-header text-center">
                   <a href="{% url 'viewRequestedComponents' %}">Total Request</a> 
                </div>
                <div class="card-body text-center">
                    {{requestedComponent}}
                
                </div>            
            </div>
        </div>
        <div class="col-md-3 col-sm-12 mt-3">
            <div class="card">
                <div class="card-header text-center">
                    <a  href="{% url 'all-users' %}">Total Users</a>
                </div>
                <div class="card-body text-center">
                {{totalUsers}}
                </div>              
            </div>
        </div>
    </div>

    <div class="mt-5 col-md -6">
        <canvas id="myChart"></canvas>
        <div id="departments" hidden>
            {% for department in departments %}{{ department.name }},{% endfor %}
        </div>
        <div id="requestsCount" hidden>
            {% for department in departments %}{{ department.count_requests }},{% endfor %}
        </div>
    </div>
 
    
    
    <script>
        const ctx = document.getElementById('myChart');
        let departments = []
        let requests = []

        const departmentsText = document.getElementById('departments').innerText.split(',');
        departmentsText.forEach((department) => {
            departments.push(department.trim())
        })
        
        const depRequests = document.getElementById('requestsCount').innerText.split(',').filter((request) => request?.length);
        depRequests.forEach((request) => {
            requests.push(request.trim())
        })
        
        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: departments,
                datasets: [{
                    label: '# of Requests',
                    data: requests,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>


    



{%endblock %}