{% extends 'studio/base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{%block content %}


    <h2 class="text-center">DashBoard</h2>

    <div class="row">
        <div class="col-md-3 col-sm-12 mt-3">
            <div class="card">
                <div class="card-header text-center">
                    <a href="{% url 'viewMembers' %}">Total Members</a>
                </div>
                <div class="card-body text-center">
                    {{members}}
                </div>
                
            </div>
        </div>

        <div class="col-md-3 col-sm-12 mt-3">
            <div class="card">
                <div class="card-header text-center">
                    <a href="{% url 'viewCheckedInAndOut' %}">Total Checkin</a>
                </div>
                <div class="card-body text-center">
                {{checkin}}
                </div>
              
            </div>
        </div>
        <div class="col-md-3 col-sm-12 mt-3">
            <div class="card">
                <div class="card-header text-center">
                   <a href="{% url 'viewRequestedComponents' %}">Total Request</a> 
                </div>
                <div class="card-body text-center">
                    {{requestedComponent}}
                
                </div>            
            </div>
        </div>
        <div class="col-md-3 col-sm-12 mt-3">
            <div class="card">
                <div class="card-header text-center">
                    <a  href="{% url 'all-users' %}">Total Users</a>
                </div>
                <div class="card-body text-center">
                {{totalUsers}}
                </div>              
            </div>
        </div>
    </div>


{%endblock %}