<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% load crispy_forms_tags %}
    {% load widget_tweaks %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>DIT | Studio</title>

    <link href="{% static 'fontawesome/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/w3.css' %}" rel="stylesheet">
    <link href="{% static 'productPage/css/styles.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'font.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/datatable.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/virtual-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/cart.js' %}">

    <script type="text/javascript">
        function getToken(name) {
            cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }

            return cookieValue;

        }
        var csrftoken = getToken('csrftoken');

    </script>

</head>

<body>

<div class="outer-container">
    <div class="container">
        <div class="row  mt-3">
            <div class="col-md-12 ">
                <div class="row ">
                    <div class="col-md-5 col-lg-5">
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="">&times;</span>
                            </button>
                        </div>
                        {% endfor %}
                        {% endif %}

                        <h1 class="text-center">DIT</h1>
                  
                        <div class="w3-card mt-3">
                                <h5 class="text-center">Request Components </h5>
                                
                                <div class="row mt-3">
                                    <div class="col-md-12">
                                        <input name="email" class="form-control" placeholder="search">
                                    </div>
                                
                                </div>
                                <div class="row mt-3">
                                    <table class="table table-bordered table-striped" id="example">
                                        <thead>
                                            <th>No.</th>
                                            <th>Component</th>
                                        </thead>
                                        <tbody>
                                            {% for component in components %}
                                
                                            <tr>
                                                <td>{{ forloop.counter}}</td>
                                                <td>{{ component.name}}</td>
                                                <td>
                                                    <a data-component="{{component.id}}" data-action="add" data-member="{{ member.id}}"
                                                        class="btn add-btn update-cart">
                                                        <i class="fa fa-check"></i>
                                                    </a>
                                                </td>
                                
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                        </div>
                       
                    </div>

                    <div class="col-md-7 mt-3 w3-card">
                        <a href=" {% url 'updateRequest' request %}" class="mb-3"><button class="btn ">Request</button></a>
                        <table class="table table-bordered mt-3" id="example" >
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Component</th>
                                    <th>Quantity</th>
                                    <th>Action</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in items%}
                                    <tr>
                                        <td>{{ forloop.counter}}</td>
                                        <td>{{ item.component.name}}</td>
                                        <td>
                                            <a href="#" data-component="{{ item.component.id }}" data-action="remove" data-member = "{{item.request.member.id}}"  class="update-cart"><i
                                                    class="fas fa-minus small mr-2"></i></a>
                                            {{ item.quantity }}
                                            <a href="#" data-component="{{ item.component.id }}" data-action="add"  data-member = "{{item.request.member.id}}" class="update-cart"><i
                                                    class="fas fa-plus small ml-2"></i></a>
                                        </td>
                                        <td>
                                        
                                            <a href="#" data-component="{{ item.component.id }}" data-action="delete" data-member = "{{item.request.member.id}}" class="text-danger ml-3 update-cart ">
                                                <i class="fas fa-trash float-right"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    
                                {% endfor %}
                               
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'script.js' %}"></script>
<script type="text/javascript" src="{% static 'fontawesome/js/all.js' %}"></script>
<script src="{% static '/js/virtual-select.min.js' %}"></script>
<script src="{% static '/js/cart.js' %}"></script>

</body>

</html>


