{% extends 'studio/base.html' %}
{% block title %}Labs{% endblock %}
{% load static %}


{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/datatable.min.css' %}" />
{% endblock %}

{% block content %}

<div class="outer-container mt-5 ">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="w3-card " >
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{message.tags}} alert-dismissible fade show " role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="">&times;</span>
                        </button>
                    </div>
                    {% endfor %}
                    {% endif %}

                    <h3 class="text-center">Labs</h3>
                    <a href="{% url 'addLab' %}"><button class="btn btn-outline-primary mb-3 w3-right"><i class="fa fa-plus"></i> Add New</button></a>
                    <table id="example" class="table table-hover table-striped table-bordered  ">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for lab in labs %}
                            <tr>
                                <td>
                                    {{ forloop.counter}}
                                </td>
                                <td>
                                    {{ lab.name}}
                                </td>
                            
                                <td><a href="{% url 'deleteLab' lab.id %}" onclick="return confirm('Seriously Delete this lab!?');" type="button"
                                    class="btn btn-outline-danger"><i class="fa fa-trash"></i></a> |
                                    <a href="{% url 'updateLab' lab.id %}" type="button"
                                        class="btn btn-outline-danger"><i class="fa fa-edit"></i></a>
                                       
                                </td>
                                
                                
                            </tr>

                            
                            </div>
                            {%endfor%}
                        </tbody>

                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block js %}

<script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>
<script type="text/javascript">
    // Data table
    $(document).ready(function () {
        $('#example').DataTable();

    })
</script>
{% endblock %}
