{% extends 'studio/base.html' %}
{% block title %}Income{% endblock %}
{% load static %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/datatable.min.css' %}" />
{% endblock %}

{% block content %}

<div class="outer-container mt-5 ">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="w3-card mt-5" style="margin-left:70px">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="">&times;</span>
                        </button>
                    </div>
                    {% endfor %}
                    {% endif %}

                    <h3 class="text-center">Income </h3>
                    <a href="{% url 'addIncome' %}"><button class="btn btn-outline-primary mb-3 w3-right"><i class="fa fa-plus"></i> Add
                            New</button></a>
                    <table id="example" class="table table-hover table-striped table-bordered  ">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Name</th>
                                <th>Lab</th>
                                <th>Amount</th>
                                <th>Description</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for income in Incomes %}
                            <tr>
                                <td>
                                    {{ forloop.counter}}
                                </td>
                                <td>
                                    {{ income.name}}
                                </td>
                                <td>
                                    {{ income.lab}}
                                </td>
                                <td>
                                    {{ income.amount}}
                                </td>
                                <td>
                                    {{ income.description}}
                                </td>
                                <td>
                                    {{ income.date}}
                                </td>
                               

                                <td><a href="{% url 'deleteIncome' income.id %}"
                                    onclick="return confirm('Seriously Delete this Income!?');" type="button" class="btn btn-outline-danger"><i
                                        class="fa fa-trash"></i></a>|
                                    <a href="{% url 'updateIncome' income.id %}" type="button" class="btn btn-outline-danger"><i
                                            class="fa fa-edit"></i></a>
                                </td>
                            </tr>                 
                            {%endfor%}
                        </tbody>

                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<!--Data Table-->
<script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>
<script>
    // Data table
    $(document).ready(function () {

        $('#example').DataTable()

    });
</script>
{% endblock %}
