{% extends 'studio/base.html' %}
{% block title %}Expenses{% endblock %}
{% load static %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/datatable.min.css' %}" />
{% endblock %}

{% block content %}
<div class="outer-container mt-5 ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="w3-card mt-5" >
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="">&times;</span>
                        </button>
                    </div>
                    {% endfor %}
                    {% endif %}

                    <h3 class="text-center">Expenses Report</h3>  
                    <form action="{% url 'ExpensesReport' %}" method="GET">
                        {% csrf_token %}
                        <div class="row">
                                <div class="col-md-5">
                                    <input class="form-control" type="date" name="startDate" value="{{startDate}}">
                                </div>
                                <div class="col-md-5">
                                    <input class="form-control" type="date" name="endDate" value="{{endDate}}">
                                </div>
                                <div class="col-md-2">
                                   <button class="btn btn-primary" type="submit">submit</button>
                                </div>
                        </div>
                        
                    </form>                 
                </div>
            </div>
        </div>
        {% if expenses %}
        <div class="row">
            <div class="col-12">
                <table id="exampleb" class="table table-hover table-striped table-bordered mt-3">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Name</th>
                                <th>Lab</th>
                                <th>Amount</th>
                                <th>Description</th>
                                <th>Date</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for expense in expenses %}
                            <tr>
                                <td>
                                    {{ forloop.counter}}
                                </td>
                                <td>
                                    {{ expense.name}}
                                </td>
                                <td>
                                    {{ expense.lab.name}}
                                </td>
                                <td>
                                    {{ expense.amount}}
                                </td>
                                <td>
                                    {{ expense.description}}
                                </td>
                                <td>
                                    {{ expense.date}}
                                </td>                               
                            
                            </tr>
                            {%endfor%}
                        </tbody>

                    </table>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block js %}
<!--Data Table-->
<script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>
<script>
    // Data table
    $(document).ready(function () {

        $('#example').DataTable()
 
    });
</script>
{% endblock %}
