{% extends 'studio/base.html' %}
{% block title %}Components{% endblock %}
{% load static %}


{% block content %}

<div class="outer-container mt-5 ">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="w3-card mt-5" style="margin-left:70px">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="">&times;</span>
                        </button>
                    </div>
                    {% endfor %}
                    {% endif %}

                    <h3 class="text-center">Requested Components</h3>                
                
                    <table id="example" style="overflow-x:auto;" class="table table-hover table-striped table-bordered " >
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Member</th>
                                <th>Member Id</th>
                                <th>Component</th>
                                <th>Quantity</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for component in Components %}
                            <tr>
                                <td>
                                    {{ forloop.counter}}
                                </td>
                                <td>
                                    {{ component.request.member.firstName}} {{ component.request.member.lastName}}
                                </td>
                                
                                <td>
                                    {{ component.request.member.idNumber}}
                                </td>
                                <td>
                                    {{ component.component}}
                                </td>
                                <td>
                                    {{ component.quantity}}
                                </td>
                                <td>
                                    {{ component.request.requestedDate|date:"Y-m-d" }}
                                </td>
                
                                <!-- <td><a href="#" class="btn btn-outline-danger" data-toggle="modal"
                                        data-target="#deleteComponent{{component.id}}"><i class="fa fa-check"></i></a>
                                        <a href="{% url 'declinedComponents' component.id%}"><button><i class="fa fa-times"></i></button></a>
                                    
                                </td> -->
                                <!-- <td><a href="{% url 'issueComponents' component.id%}" ><button><i class="fa fa-check"></i></button></a>|  -->
                                <td><a href="{% url 'updateRequestedComponents' component.id %}" ><button><i class="fa fa-check"></i></button></a>|
                                    <a href="{% url 'declinedComponents' component.id%}"><button><i class="fa fa-times"></i></button></a>                               
                                    
                                </td>
                            </tr>

                            <div class="modal fade" id="deleteComponent{{component.id}}" data-backdrop="static"
                                data-keyboard="false" tabindex="-1" aria-labelledby="deleteproductLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteproductLabel">Confirm Component Deletion</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure, you want to confirm?</p>
                                        </div>
                                        <div class="p-4">
                                            <button type="button" class="btn button"
                                                data-dismiss="modal">Cancel</button>
                                            <a href=" #" class="btn btn-danger">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {%endfor%}
                        </tbody>

                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}

<script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>
<script type="text/javascript">
    // Data table
    $(document).ready(function () {
        $('#example').DataTable();

    })
</script>
{% endblock %}