{% extends 'studio/base.html' %}
{% block title %}Purchases{% endblock %}
{% load static %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/datatable.min.css' %}" />
{% endblock %}

{% block content %}

<div class="outer-container mt-5 ">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="w3-card mt-5" style="margin-left:70px">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="">&times;</span>
                        </button>
                    </div>
                    {% endfor %}
                    {% endif %}

                    <h3 class="text-center">Purchases </h3>
                    <a href="{% url 'addPurchase' %}"><button class="btn btn-outline-primary mb-3 w3-right"><i class="fa fa-plus"></i> Add
                            New</button></a>
                    <table id="example" class="table table-hover table-striped table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Lab</th>
                                <th>Component</th>
                                <th>Quantity</th>
                                <th>Amount</th>
                                <th>Description</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for purchase in purchases %}
                            <tr>
                                <td>
                                    {{ forloop.counter}}
                                </td>
                                <td>
                                    {{ purchase.lab}}
                                </td>
                                <td>
                                    {{ purchase.component.name}} - {{ purchase.component.unit}}
                                </td>
                                <td>
                                    {{ purchase.quantity}}
                                </td>
                                <td>
                                    {{ purchase.amount}}
                                </td>
                                <td>
                                    {{ purchase.description}}
                                </td>
                                <td>
                                    {{ purchase.date}}
                                </td>


                                <td><a href="{% url 'deletePurchase' purchase.id %}" onclick="return confirm('Seriously Delete this Purchases!?');" type="button"
                                    class="btn btn-outline-danger"><i class="fa fa-trash"></i></a> |
                                    <a href="{% url 'updatePurchases' purchase.id %}" type="button" class="btn btn-outline-danger"><i
                                            class="fa fa-edit"></i></a>
                                </td>
                            </tr>
                            {%endfor%}
                        </tbody>

                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}

<script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>
<script type="text/javascript">
    // Data table
    $(document).ready(function () {
        $('#example').DataTable();

    })
</script>
{% endblock %}